# Databases and raw data
*.db*
*.csv
*.json
million_playlist_dataset/
audio_features_dataset/

# Python caches and environments
__pycache__/
.venv/
venv/
.idea/
ex/

# general
past_projects
tests
projNeedle26.pdf

# debugging
add_indexes.py
diagnostic.py