# Databases and raw data
*.db*
*.csv
*.json
million_playlist_dataset/
data/audio_features_dataset/
db/

# Python caches and environments
__pycache__/
.venv/
venv/
.idea/
ex/

# general
docs/past_projects
tests
docs/projNeedle26.pdf

# debugging
db/add_indexes.py
diagnostic.py